<div class="w-50 mx-auto mt-5 px-3 py-4 shadow rounded">
  <h3>Todo App</h3>
  <div class="d-flex align-items-center">
    <div class="form-floating mt-3 w-100">
      <input type="text" placeholder="" class="form-control" required>
      <label for="">Task Name</label>
    </div>
    <button class="btn btn-primary mt-3" style="height: 57px; width: 80px; ">Add</button>

  </div>

  <div class="shadow rounded mt-3 p-3">
    <h3>My Tasks</h3>
    <hr>
    <div class="shadow py-3 px-4 d-flex justify-content-between align-items-center">
      <h6 class="m-0 p-0"> -- Task Name -- </h6>
      <div>
        <button class="btn btn-warning"><i class="fa fa-hourglass"></i> </button>
        <button class="btn btn-danger ms-3"> <i class="fa fa-trash"></i> </button>
      </div>
    </div>
  </div>

</div>
